<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mystyle.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="{%static 'images/all.min.js'%}"></script>
    <title>Notes Sharing Site</title>


</head>

<body>
<h4 style="padding:3%"><span style="color:red">Study Notes</span><span style="color:green">Sharing Site</span></h4>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'admin_home'%}">HOME</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="{% url 'pending_notes'%}">PENDING NOTES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="{% url 'accepted_notes' %}">ACCEPTED NOTES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="{% url 'rejected_notes' %}">REJECTED NOTES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active"  aria-current="page" href="{% url 'all_notes'%}">VIEW ALL NOTES</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'view_users'%}">VIEW USER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'logout'%}">LOGOUT</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>
{%block body%}
{%endblock%}
