{% extends 'usernavigation.html'%}
{% load static %}
{% block body%}
{% ifequal error "no" %}
<script>
    alert('password change Successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
     alert('Invalid Login,Try again');
</script>
{% endifequal %}
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="">
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">USER PASSWORD</h2>
            <hr>
            <form method="post">
                {% csrf_token %}
                <label>Old Passwoord</label>
                   <input type="password" class="form-control" placeholder="Enter old Password" name="old">
                <label>New Password</label>
                   <input type="password" class="form-control" placeholder="Enter New Password" name="new">
                <label>Re-Enter New Password</label>
                   <input type="password" class="form-control" placeholder="Re-Enter New Password" name="confirm">
                <input type="submit" class="btn btn-danger mt-2" value="SUBMIT">
            </form>
        </div>
    </div>
</div>


{% endblock %}