{% extends 'navigation.html' %}
{%load static %}
{%block body%}
<style>
.image{
    width:100%;
    height:470px;
}
</style>
<div class="transparentbox">
 <img src="{% static 'images/web.png' %}" alt="study" class="image"></img>
</div>

<h4 class="text-center text-danger mt-5">Just 4 step to follow</h4><br>

<div class="container">
 <div class="row">
  <div class="col-sm-3">
   <div class="box1">
    <p class="halfcircle"><i class="fas fa-user-circle" style="font-size:40px"></i></p>
     <p class="halfcircleBottom" style="font-size:20px">Create Account</p>
   </div>
  </div>

  <div class="col-sm-3">
   <div class="box1">
    <p class="halfcircle"><i class="fas fa-sign-in-alt" style="font-size:40px"></i></p>
     <p class="halfcircleBottom" style="font-size:20px">Login</p>
   </div>
   </div>

   <div class="col-sm-3">
   <div class="box1">
    <p class="halfcircle"><i class="fas fa-upload" style="font-size:40px"></i></p>
     <p class="halfcircleBottom" style="font-size:20px">Upload Notes</p>
   </div>
   </div>

   <div class="col-sm-3">
   <div class="box1">
    <p class="halfcircle"><i class="fas fa-download" style="font-size:40px"></i></p>
     <p class="halfcircleBottom" style="font-size:20px">Download Notes</p>
   </div>
   </div>
 </div>
</div>
<br>
<br>

{% endblock %}








