{% extends 'navigation.html' %}
{%load static %}
{%block body%}

{% ifequal error "no" %}
<script>
    alert('Successfully Login');
    window.location=('{% url 'admin_home' %}');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
     alert('Invalid Login,Try again');
</script>
{% endifequal %}
<div class="container mt-5" style="background-color:whitesmoke">
    <div class="row">
        <div class="col-sm-6">

           <img src="{% static 'images/study.jpg'%}" class="img-thumbnail my-2" style="width:100%"></img>
        </div>

        <div class="col-sm-6">
            <h2 class="text-center">ADMIN LOGIN</h2>
            <hr>
            <p>Enter Your UserName and Password for access Admin panel</p>

            <form method="post">
                {% csrf_token %}
                <label>User Name</label>
                   <input type="text" class="form-control" placeholder="Enter user name" name="uname">
                <label>Password</label>
                   <input type="password" class="form-control" placeholder="Enter Password" name="pwd">
                <input type="submit" class="btn btn-primary mt-2" value="Login">
            </form>
        </div>
    </div>
</div>
{%endblock%}