{% extends 'usernavigation.html' %}
{% load static %}
{% block body %}
{% ifequal error "no" %}
<script>
    alert('Notes uploaded successfully');
    window.location=('{% url 'login' %}');
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
     alert('Something went wrong,Try again');
</script>
{% endifequal %}

<div class="container mt-5">
    <div class="row">


        <div class="col-sm-6">
            <h2 class="text-center">UPLOAD NOTES</h2>
            <hr>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Branch</label>
                   <select type="text" class="form-control"  name="branch">
                       <option value="">----Select Branch----</option>
                       <option value="Computer Science">Computer Science</option>
                       <option value="Mechanical">Mechanical</option>
                       <option value="Civil">Civil</option>
                       <option value="Electronics">Electronics</option>
                       <option value="Electrical">Electrical</option>
                   </select>
                <label>Subject</label>
                   <input type="text" class="form-control" placeholder="Enter subject name" name="subject">
                <label>Notes File</label>
                   <input type="file" class="form-control"  name="notesfile">
                <label>File Type</label>
                    <select type="text" class="form-control"  name="filetype">
                       <option value="">----Select File----</option>
                       <option value="PDF">PDF</option>
                       <option value="PPT">PPT</option>
                       <option value="DOC/DOCX">DOC/DOCX</option>
                       <option value="TXT">TXT</option>
                       <option value="Image">Image</option>
                        <option value="ZIP/RAR">ZIP/RAR</option>
                    </select>
                <label>Description</label>
                   <textarea class="form-control"  name="description">
                   </textarea>



                <input type="submit" class="btn btn-danger mt-2" value="submit">
            </form>
        </div>

    </div>
</div>


{% endblock %}
